@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

/*header in the center*/
header {
    background-color: firebrick;
    width: 60%;
    min-width: 800px;
    margin: auto;
    padding: 20px;

}

/*search-bar decoration*/
#site-title {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 1000;
    color: navajowhite;
    text-align: center;
    margin: 15px auto;
}

#search {
    display: block;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    font-size: inherit;
    color: red;
}

#search::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: inherit;
    opacity: .5;

}

.search:hover, .search:focus {
    outline: none;
    box-shadow: inset 0 0 5px black;
}


body {
    font-family: "Poppins", sans-serif;
    margin: auto;
}

#data_table {
    min-width: 800px;
    margin: auto auto 40px auto;
    border-collapse: collapse;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 60%;
}

th {
    background-color: red;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    border-right: 1px solid #dddddd;
    font-weight: bold;
    height: 5rem;
}

tr {
    border-bottom: 1px solid #dddddd;
    height: 3rem;
}

td {
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 12px 15px;
    border-right: 1px solid #dddddd;
}

.year, .rating {
    width: 110px;
}

.language {
    width: 130px;
}

td.rating, td.language {
    width: 120px;
    text-align: center;
}

.poster-container {
    padding: 7px;
}


.new_language, .new_rating {
    width: 120px;
    white-space: nowrap;
}

.poster-container {
    width: 220px;
}

.poster-container .poster {
    height: 150px;
    border-radius: 5px;
    margin: 0;
}

#edit_poster {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.form-control {
    border: 1px solid #0002;
    background-color: transparent;
    outline: none;
    width: 100%;
    color: black;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin: 20px auto;

}


.form-control::placeholder {
    color: inherit;
    opacity: .4;
}

.form-control:hover, .form-control:focus {
    box-shadow: inset 0 0 5px #0003;
}

/*make the title color bold*/
td.title {
    font-weight: bolder;
    font-size: larger;
}

td.year {
    font-weight: bold;
    font-size: medium;
}

td.rating, td.language {
    font-weight: bold;
    font-size: medium;
}

footer {
    text-align: center;
    min-width: 800px;
}